  /* CSS Fonte */
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
  /* Fonte CSS Google */
  
  body {
    font-family: 'Rajdhani', 'sans-serif';
  }
  
.div-container{
  max-width: 1000px;
  padding: 20px; 
  border-radius: 25px;
  border: 2px solid #343a40;
  box-shadow: 10px 10px rgba(0, 0, 0, 1.5); 
  font-size: 1.3rem; 
  font-weight: 400;
  background-color: rgb(217, 229, 230);
}


.h1-text{
  color: rgb(11, 121, 230);
}

