* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color: inherit;
    text-align: inherit;
    text-decoration: none;
    list-style: none;
    border: 0;
    outline: 0;
    background: transparent;
  }


  



  
/* Estilos adicionados para dispositivos móveis */
@media (max-width: 768px) {
  .nav-link {
      padding: 0; /* Remover o espaçamento interno */
      background-color: transparent; /* Remover o fundo */
      border: none; /* Remover a borda */
      box-shadow: none; /* Remover a sombra */
      border-radius: 0; /* Remover o arredondamento das bordas */
      font-size: inherit; /* Usar o tamanho de fonte padrão */
      font-weight: inherit; /* Usar o peso de fonte padrão */
  }
}

